@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img, input, button, textarea{ border:none; padding:0;margin:0;outline:none !important; }
fieldset:hover, fieldset:active
img:hover, img:active,
input:hover, input:active,
textarea:hover, textarea:active{ 
    outline:none !important; 
}
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; }
select, input { vertical-align:middle;}
select, input, textarea { font-size:14px; margin:0; }
textarea { resize:none; } /*防止拖动*/
a,span,input,button,i,textarea,label,button{ display: inline-block; }
img {border:0;	width: 100%; height: 100%;	vertical-align:middle; }
table { border-collapse:collapse; }
html{
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif,'fontawesome';
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;	/*抗锯齿*/
    -moz-osx-font-smoothing: grayscale;
    color:#666;
    background-color: #eee;
    width: 100%;
}
/*双伪元素*/
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
/*a {color:#666; text-decoration:none; }*/
/*a:hover{color:#C81623;}*/
a,
a:hover{ text-decoration: none; }
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}

/*input,textarea{
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
input:focus,
textarea:focus{
    border-color:rgba(0,128,0,0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,128,0,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,128,0,0.6);
}*/

/*公共类*/
.fl{ float: left; }
.fr{ float: right; }
.ta-l{ text-align: left; }
.ta-c{ text-align: center; }
.ta-r{ text-align: right; }
.col-r{ color: red; }
.col-b{ color: blue; }
.col-g{ color: green; }
.col-y{ color: yellow; }
.bgc-r{ background-color: red; }
.bgc-b{ background-color: blue; }
.bgc-g{ background-color: green }
.bgc-y{ background-color: yellow; }

.tcenter{
	text-align: center;
}
.upload-file-bg {
    background: url("../img/dr.png") center no-repeat white;
}

.yemian{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*头部*/
/*头部*/
.site_header{
	padding: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: green;
	position: absolute;
	left: 0;
	top: 0;
}
.ws_logo{
	width: 220px;
	height: 50px;
	background-color: rgba(0,0,0,0.4);
	float: left;
	text-align: center;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}
.ws_logo a:nth-of-type(1){
	display: inline-block;
	/*width: 180px;	*/
	height: auto;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
}
.ws_logo a:nth-of-type(1) img{
	width: auto;
	height: 40px;
}
.hidden_slider{
	width: 50px;
	height: 50px;
	line-height: 50px;
	float: left;
	color: white;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 220px;
	top: 0px;
}
.hidden_slider:hover{
	color: rgb(199,0,18);
}
.header_right{
	float: right;
	width: 200px;
	/*background-color: red;*/
}
.header_setting{
	width: 200px;
	float: left;
	cursor: pointer;
	position: relative;
}
.user_pic{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	margin: 5px 0;
	overflow: hidden;
	/*background-color: red;*/
	float: left;
	font-size: 0;
}
.user_name{
	width: 160px;
	height: 50px;
	padding:0 0 0 10px ;
	box-sizing: border-box;
	float: left;
	color: white;
}
.user_name i{
	padding-left: 5px;
	box-sizing: border-box;
}
.user_settings{
	width: 200px;
	/*height: 400px;*/
	background-color: white;
	position: absolute;
	top: 52px;
	right: 0px;
	display: none;
	z-index: 1000;
}
.user_settings .userSetFace span{ 
	display: inline-block; 
	cursor: pointer;
}
.user_settings .userSetFace{
	background-color: green;
	text-align: center;
	cursor: pointer;
}
.user_settings .userSetFace span.face{
	padding: 10px 0 0 0;
	position: relative;
}
.user_settings .userSetFace span.face img.face{
	width: 60px;
	height: 60px;
	border: 2px solid white;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}
.user_settings .userSetFace span.face .changeBJ{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(0,0,0,1);
	opacity: 0;
	position: absolute;
	left: 0px;
	bottom: 0px;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.user_settings .userSetFace span.face .changeTxt{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: white;
	border-radius: 50%;
	opacity: 0;
	position: absolute;
	left: 0px;
	bottom: 0px;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;	
}
.user_settings .userSetFace span.userName{
	padding: 0 20px;
	color: white;
	height: 35px;
	line-height: 35px;
	max-width: 250px;
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	white-space: nowrap;
}
.user_settings .userSetU1{
	width: 100%;
	border-bottom: 1px solid rgb(199,199,199);
	padding: 10px 0;
	float: left;
}
.user_settings .userSetU1 li{
	width: 100%;
	float: left;
	color: black;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
}
.user_settings .userSetU1 li:hover{
	background-color: green;
	color: white;
}
.user_settings .userSetU1 li i{
	display: inline-block;
	width: 25px;
	/*padding: 0 10px;*/
}
.user_settings .userSetLogout{
	width: 100%;
	float: left;
	padding-bottom: 10px;
}
.user_settings .userSetLogout .exit{
	margin-top: 10px;
	color: black;
	height: 30px;
	line-height: 30px;
}
.user_settings .userSetLogout .exit:hover{
	background-color: green;
	color: white;
}
.user_settings .userSetLogout .exit span.logout{
	width: 100%;
	float: left;
	padding-left: 30px;
}
.user_settings .userSetLogout .exit span.logout i{
	display: inline-block;
	width: 25px;
}

.user_message,.user_tongzhi,.user_tuichu{
	float: left;
	width: 50px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	color: white;
	cursor: pointer;
	position: relative;
}
.user_message div,.user_tongzhi div,.user_tuichu div{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 0px;
	top: 0px;
}
.user_message:hover div{ background-color: rgba(0,0,0,0.3); }
.user_tongzhi:hover div{ background-color: rgba(0,0,0,0.3); }
.user_tuichu:hover div{ background-color: rgba(0,0,0,0.3); }
.badge{
	border-radius: 10px;
	/*display: inline-block;*/
	min-width: 10px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	margin-left: -10px;
	padding: 2px 6px;
	top: -12px;
}
.user_message .badge:nth-of-type(1){
	margin-left: -12px;
	background-color: rgb(246,201,10);
}
.user_tongzhi .badge:nth-of-type(1){
	background-color: rgb(248,0,39);
	margin-left: -14px;
}


/*头部二维码*/
	.QR_code {
		width: 150px;
		height: 50px;
		float: right;
		position: relative;
		/*background-color:  red;*/
	}
	.QR_codeTip{
		width: 80px;
		float: right;
		color: #fff;
		cursor: pointer;	
	}
	.QR_code span:nth-of-type(1){
		width: 30px;
		font-size: 30px;
		float: left;
		text-align: right;
	}
	.QR_code span:nth-of-type(2){
		padding-left: 5px;
		width: 40px;
		float: left;
	}
	.QR_codeBox{
		position: absolute;
		top: 52px;
		left: 0;
		width: 350px;
		background-color: #008000;
		padding: 10px 0;
		display: none;
		z-index: 1000;
	}
	.QR_codeAndroid,
	.QR_codeIos{
		width: 175px;
		/*width: 200px;*/
		height: 160px;
		float: left;
	}
	.QR_codeFooter{
		width: 100%;
		height: 30px;
		line-height: 30px;
		color: #fff;
		clear: both;
		padding: 0 15px;
	}
	.QR_codeAndroidBox,
	.QR_codeIosBox{
		width: 150px;
		margin: 0 auto;
	}
	.QR_codeAndroidPic,
	.QR_codeIosPic{
		width: 150px;
		height: 150px;
		border: 10px solid #fff;
		position: relative;
	}
	.QR_codeAndroidTitle,
	.QR_codeIosTitle{
		width: 30px;
		height: 30px;
		line-height: 30px;
		color: green;
		font-size: 26px;
		background: #fff;
		text-align: center;
		position: absolute;
		left: 50px;
		top: 50px;
		border-radius: 5px;
	}
	.QR_code a{
		display: block;
		width: 150px;
		height: 150px;
		line-height: 150px;
		text-align: center;
		color: #fff;
		font-size: 18px;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		position: absolute;
		left: -10px;
		top: -10px;
		background: rgba(0,0,0,0);
		opacity: 0;
		z-index: 10;
	}
	.QR_code a:hover{
		text-decoration: none;
	}


/*layer 弹窗相似属性*/
	.layui-layer{
		position: absolute !important;
		margin-bottom: 150px !important;
	}
	.layui-layer-page .layui-layer-content{ overflow: initial !important; }
	.layer_title{
		display: inline-block;
		color: green;
		height: 42px;
		line-height: 42px;
		font-size: 16px;
	}
	.layer_title i{
		display: inline-block;
		width: 10px;
		color: green;
		margin-right: 10px;
	}
	.layer_title strong{ font-weight: 400; }
	.layui-layer-content form { height: 100%; }
	.layui-layer-content form div.popup{ height: 100%; } 		/*popup过高加滚动条处理*/
	.layui-layer-content form .row{ margin-left: 0; margin-right: 0; }
	.layer_p{
		width: 100%;
		min-height: 47px;
		line-height: 47px;
		margin-top: 6px;
	}
	.layer_p >label >span{ 
		width: 20px;
		color: rgb(199,0,18);
		text-align: center;	
	}
	.layer_p:first-child{ margin-top: 30px; }
	.layer_p label{
		display: inline-block;
		/*font-size: 16px;*/
		text-align: right;
		font-weight: 600;
		/*font-family: sans-serif;*/
		padding-right: 0;
		color: #333;
	}
	.layer_p input{
		height: 40px;
		line-height: 40px;
		border-radius: 5px;	
		border: 1px solid rgb(204,204,204);
		padding: 6px 12px;
		font-weight: 400;
		outline: none;	
		vertical-align: middle;	
		z-index: 10;
		color: #333;	
	}
	.layer_p >div.layerNoPickText{ 
		min-height: 47px;
		word-wrap: break-word; 
		word-break: break-all; 
	}
	.layer_p .input-group 	  >input{ background-color: white; cursor: pointer; }
	.layer_p .layerNoPickText >input{ width: 100%; }
	.layer_p input[type=checkbox],
	.layer_p input[type=radio]{
		width: 20px;
		height: 20px;
		margin-right: 5px;
		margin-top: -5px;
		cursor: pointer;
	}
	.layer_for input[type=button],
	.layer_for input[type=submit]{
		width: 60px;
		height: 35px;
		line-height: 35px;
		font-weight: 400;
		color: #666;
		border-radius: 5px;
		background-color: white;
		border: 1px  solid rgb(204,204,204);
		margin-left: 5px;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
	.layer_for input[type=submit]{
		font-weight: 400;
		margin-left: 10px;
		color: white;
		background-color: rgba(0,128,0,0.7);
	}
	.layer_for input[type=button]:hover{ background-color: rgb(230,230,230); }
	.layer_for input[type=submit]:hover{ background-color: rgba(0,128,0,1); }
	.layer_p .input-group >.input-group-btn >button,
	.layer_p .input-group >.input-group-btn >label{
		display: inline-block;
		width: 38px;
		height: 40px;
		text-align: center !important;
		background-color: white;
		border: 1px solid rgb(204,204,204);
		outline: none;
		margin-left: -1px;
		padding: 0;
		line-height: 40px;
	}
	.layer_p .input-group >.input-group-btn >button:hover,
	.layer_p .input-group >.input-group-btn >label:hover{ background-color: rgb(238,238,238); }
	.layer_p .input-group >.input-group-btn >button:after,
	.layer_p .input-group >.input-group-btn >label:after{ border: none; margin: 0px; }
	.layer_p .input-group >.input-group-btn >button >strong,
	.layer_p .input-group >.input-group-btn >label >strong{
		text-align: center;
		color: green;
		font-size: 20px;
		padding-left: 0px;
		/*vertical-align: middle;*/
		/*margin-left: -2px;*/
	}
	.layer_p .input-group >.input-group-btn >button >span,
	.layer_p .input-group >.input-group-btn >label >span{
		color: red;
		background-color: red;
	}
	.layer_for{
		width: 150px;
		height: 40px;
		line-height: 40px;
		float: right;
		margin: 20px 0 30px 0;	
	}
	.layer_p_more{
		height: auto;
	}
	.layer_p_more textarea{
		width: 100%;
		height: auto;
		line-height: 30px;
		border-radius: 5px;	
		border: 1px solid rgb(204,204,204);
		color: #333;
		padding: 6px 12px;
		margin-top: 5px;
		font-weight: 400;
		outline: none;	
		vertical-align: middle;	
		z-index: 10;	
	}
	.layer_p >div >div label { font-weight: normal; color: #666; cursor: pointer; }
	.main_detail_checkbox{ 
		/*max-height: 140px !important; */
		padding:0 0 10px 0; 
		/*margin-right: 15px; */
	}
	.main_detail_checkbox div{ 
		height: 30px !important; 
	}
	.main_detail_checkbox div input[type=checkbox]{ width: 16px !important; height: 16px !important; }
	.main_detail_checkbox div label{ 
		height: 30px !important;
		line-height: 30px !important; 
		margin-bottom: 0 !important;
		cursor: pointer;
	}
	.datetimepicker{ z-index: 9999999999 !important; }
	.datetimepicker .layui-layer-shade{ display: none !important; }
	.ui-datepicker-calendar tfoot:hover { background: #eee; cursor: pointer; }
/*侧边栏*/
/*侧边栏*/


.sider_slider{
	position: absolute;
	width: 220px;
	background-color: rgb(238,238,238);
	z-index: 101;
	left: 0px;
	bottom: 0px;
	top: 50px;
}
.sidebar-collapse{
	margin-left: 7px;
	background-color: white;
	box-sizing: border-box;
}
.side_menu{ list-style: none; height: 100%; }

/*.base_information  { height: 230px; }
.baoyang_management{ height: 140px; }
.gongdan_management{ height: 110px; }
.rizhi_management  { height: 140px; }
.qiandao_management{ height: 80px; }
*/
.side_menu_item{ 
	overflow: hidden; 
	height: auto;
}
.side_menu_item h5{
	height: 50px;
	line-height: 50px;
	font-weight: 600;
	color: green;
	cursor: pointer;
}
.side_menu_item h5 span:nth-of-type(1){
	display: inline-block;
	width: 30px;
	text-align: right;
}
.side_menu_item h5 span:nth-of-type(1) >img{
	width: auto;
	height: 16px;
}
.side_menu_item h5 span:nth-of-type(2){
	display: inline-block;
	width: 140px;
	font-size: 16px;
	text-align: center;
}
.side_menu_item h5 span:nth-of-type(3){
	display: inline-block;
	width: 30px;
	color: rgb(199,0,18);
	text-align: left;
	font-size: 18px;
}
.side_menu_item strong{
	height: 30px;
	line-height: 30px;
	float: right;
	font-size: 20px;
	color: rgb(199,0,18);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	left: 170px;
	opacity: 0;
	display: none;	
}
.side_menu_item li{
	position: relative;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	display: none;
}
.side_menu_item li div{
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	width: 5px;
	height: 0px;
	background-color: rgb(199,0,18);
	position: absolute;
	left: 0px;
	top: 15px;
}
.side_menu_item li:hover{ background-color: rgb(238,238,238); }
/*.side_menu_item li:hover div{
	height: 30px;
	top: 0px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}*/
/*.side_menu_item li:hover strong{
	left: 190px;
	opacity: 1;
}*/
/*.side_menu_item li:hover a{
	font-size: 16px;
	color: green;
	text-decoration: none;
}*/
.side_menu_item li a{
	display: inline-block;
	width: 100%;
	color: black;
	text-decoration: none;
	/*text-indent: 15px;*/
	text-align: center;
	padding:0 10px;
	box-sizing: border-box;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	outline: medium;
}












